{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}

                <p>Are you sure you want to delete "{{ object }}"?</p>
                <div id="div_id_tipo" class="mb-3">
                    <label for="id_tipo" class="form-label requiredField">Tipo</label>
                    <input type="text" name="tipo" value="{{ object.tipo }}" class="textinput form-control" id="id_tipo" readonly>
                </div>

                <div id="div_definicao" class="mb-3">
                    <label for="id_definicao" class="form-label requiredField">Definição</label>
                    <input type="text" name="definicao" value="{{ object.definicao }}" class="textinput form-control" id="id_definicao" readonly>
                </div>

                <div id="div_valor_referencia" class="mb-3">
                    <label for="id_valor_referencia" class="form-label requiredField">Valor de referência</label>
                    <input type="text" name="definicao" value="{{ object.valor_referencia }}" class="textinput form-control" id="id_valor_referencia" readonly>
                </div>

                <input type="submit" value="Deletar" class="btn btn-danger">
                <a href="{{ view.get_success_url }}" class="btn btn-light">Voltar</a>
            </form>
        </div>
    </div>
{% endblock content %}