{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1 class="h3 mb-2 text-gray-800">Tipo de perda auditiva</h1>
    <p class="mb-4">A classificação do tipo de perda auditiva tem por objetivo realizar o topodiagnóstico da alteração.</p>

    <div class="card shadow mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col"><h5>Tipos de perda auditiva</h5></div>
                <div class="col col-lg-2">
                    <a type="button" class="btn btn-primary float-end" href="{% url 'tipo_perda_auditiva:create' %}"><i class="bi bi-plus"></i>Novo</a>
                </div>
            </div>
        </div>

        {% if tipos_list %}
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Descrição</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for tipo in tipos_list %}
                            <tr>
                                <td>{{ tipo.tipo_perda }}</td>
                                <td><a class="icon-link" href="{% url 'tipo_perda_auditiva:detail' tipo.id %}"><img src="{% static 'assets/bootstrap/icons/search.svg'%}"></a></td>
                                <td><a class="icon-link" href="{% url 'tipo_perda_auditiva:update' tipo.id %}"><img src="{% static 'assets/bootstrap/icons/pencil.svg'%}"></a></td>
                                <td><a class="icon-link" href="{% url 'tipo_perda_auditiva:delete' tipo.id %}"><img src="{% static 'assets/bootstrap/icons/trash.svg'%}"></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="row mt-3">
                    <div class="col">
                        {% include 'partials/_pagination.html' %}
                    </div>
                </div>
            </div>
        {% else %}
            <p>No tipos are available.</p>
        {% endif %}
    </div>
{% endblock content %}
