{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-body">
            <div id="div_id_tipo" class="mb-3">
                <label for="id_tipo" class="form-label requiredField">Grau de perda auditiva</label>
                <input type="text" name="tipo" value="{{ object.tipo }}" class="textinput form-control" id="id_tipo" readonly>
            </div>

            <div id="div_media_frequencias" class="mb-3">
                <label for="id_caracteristicas" class="form-label requiredField">Características</label>
                <textarea name="caracteristicas" class="textinput form-control" id="id_caracteristicas" readonly>{{ object.caracteristicas }}</textarea>
            </div>

            <a href="{% url 'configuracao_audiometrica:index' %}" class="btn btn-light">Voltar</a>
        </div>
    </div>
{% endblock content %}