{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1 class="h3 mb-2 text-gray-800">Configuração audiométrica</h1>
    <p class="mb-4">Esta classificação leva em consideração a configuração dos limiares auditivos de via aérea de cada orelha.</p>

    <div class="card shadow mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col"><h5>Configuração audiométrica</h5></div>
                <div class="col col-lg-2">
                    <a type="button" class="btn btn-primary float-end" href="{% url 'configuracao_audiometrica:create' %}"><i class="bi bi-plus"></i>Novo</a>
                </div>
            </div>
        </div>

        {% if object %}
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Tipo</th>
                            <th scope="col">Características</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for config in object %}
                            <tr>
                                <td>{{ config.tipo }}</td>
                                <td>{{ config.caracteristicas }}</td>
                                <td><a class="icon-link" href="{% url 'configuracao_audiometrica:detail' config.id %}"><img src="{% static 'assets/bootstrap/icons/search.svg'%}"></a></td>
                                <td><a class="icon-link" href="{% url 'configuracao_audiometrica:update' config.id %}"><img src="{% static 'assets/bootstrap/icons/pencil.svg'%}"></a></td>
                                <td><a class="icon-link" href="{% url 'configuracao_audiometrica:delete' config.id %}"><img src="{% static 'assets/bootstrap/icons/trash.svg'%}"></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="row mt-3">
                    <div class="col">
                        {% include 'partials/_pagination.html' %}
                    </div>
                </div>
            </div>
        {% else %}
            <p>No tipos are available.</p>
        {% endif %}
    </div>
{% endblock content %}
