{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}

                <p>Are you sure you want to delete "{{ object }}"?</p>
                <div id="div_id_tipo" class="mb-3">
                    <label for="id_resultado" class="form-label requiredField">Resultado</label>
                    <input type="text" name="tipo" value="{{ object.resultado }}" class="textinput form-control" id="id_resultado" readonly>
                </div>

                <div id="div_media_frequencias" class="mb-3">
                    <label for="id_dificuldade" class="form-label requiredField">Dificuldade</label>
                    <input type="text" name="caracteristicas" value="{{ object.dificuldade }}" class="textinput form-control" id="id_dificuldade" readonly>
                </div>

                <input type="submit" value="Deletar" class="btn btn-danger">
                <a href="{{ view.get_success_url }}" class="btn btn-light">Voltar</a>
            </form>
        </div>
    </div>
{% endblock content %}